# slack
HUBOT_SLACK_TOKEN=

# twitter
TWITTER_LANSINGCODES_CONSUMER_KEY=
TWITTER_LANSINGCODES_CONSUMER_SECRET=
TWITTER_LANSINGCODES_ACCESS_TOKEN=
TWITTER_LANSINGCODES_ACCESS_TOKEN_SECRET=

# google
GOOGLE_API_KEY=

# meetup
LUBOT_MEETUP_API_KEY=

# app settings
REDIS_URL=
TZ=
