# slack
export HUBOT_SLACK_TOKEN=

# twitter
export TWITTER_LANSINGCODES_CONSUMER_KEY=
export TWITTER_LANSINGCODES_CONSUMER_SECRET=
export TWITTER_LANSINGCODES_ACCESS_TOKEN=
export TWITTER_LANSINGCODES_ACCESS_TOKEN_SECRET=

# google
export GOOGLE_API_KEY=

# meetup
export LUBOT_MEETUP_API_KEY=

# app settings
export TZ=
